/*mixins*/
/* Micro ClearFix Mixin */
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
/*border-radius*/
.plus:after {
  content: '+';
  width: 34px;
  height: 34px;
  position: absolute;
  background: #cc0000;
  color: #fff;
  font-weight: bold;
  right: 10px;
  top: 10px;
  text-align: center;
  font-size: 31px;
  line-height: 27px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
}
.minus:after {
  content: '\2013' !important;
}
.btn2 {
  /*
1 - border
2 - pressed inner shadow
3 - gradient
4 - focus
*/
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 14px 34px;
  text-transform: uppercase;
  text-decoration: none;
  color: #CC0000;
  text-shadow: 0 1px 0 #FFF;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  background: #e0e0ed;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.2), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 2.2em 2.2em -1.1em #ffffff, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
  transition: all 0.2s;
}
.btn2:hover {
  color: #FD0000;
  background-color: #ECECFB;
  text-decoration: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 2.2em 2.2em -1.1em #ffffff, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
}
.btn2:focus {
  outline: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 1.1em 1.1em -0.6em #ffffff, /* 4 */ 0 0 0 3px rgba(0, 128, 255, 0.3);
}
.btn2:active {
  outline: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 1px 2px 3px 0 rgba(0, 0, 0, 0.2), /* 3 */ inset 0 1.1em 1.1em -0.6em #ffffff, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
  transition-duration: 0.1s;
}
.btn2.disabled {
  opacity: 0.45;
  cursor: default;
  box-shadow: none;
}
.btn2.disabled:hover,
.btn2.disabled:focus,
.btn2.disabled:active {
  background: #e0e0ed;
}
.btn4act {
  /*
1 - border
2 - pressed inner shadow
3 - gradient
4 - focus
*/
  display: inline-block;
  border: none;
  border-radius: 5px;
  padding: 15px 34px;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  text-shadow: 0 1px 0 #950000;
  font-size: 1em;
  font-weight: bold;
  line-height: 1.2;
  background: #b50000;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.2), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 2.2em 2.2em -1.1em #cb0000, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
  transition: all 0.2s;
}
.btn4act:hover {
  background-color: #cd0000;
  text-shadow: 0 1px 0 #be0000;
  text-decoration: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 2.2em 2.2em -1.1em #fd0000, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
}
.btn4act:focus {
  outline: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 0 0 0 0 rgba(0, 0, 0, 0), /* 3 */ inset 0 1.1em 1.1em -0.6em #cb0000, /* 4 */ 0 0 0 3px rgba(0, 128, 255, 0.3);
}
.btn4act:active {
  outline: none;
  box-shadow: /* 1 */ inset 0 0 0 1px rgba(0, 0, 0, 0.3), /* 2 */ inset 1px 2px 3px 0 rgba(0, 0, 0, 0.2), /* 3 */ inset 0 1.1em 1.1em -0.6em #cb0000, /* 4 */ 0 0 0 0 rgba(0, 128, 255, 0.3);
  transition-duration: 0.1s;
}
.btn4act.disabled {
  opacity: 0.45;
  cursor: default;
  box-shadow: none;
}
.btn4act.disabled:hover,
.btn4act.disabled:focus,
.btn4act.disabled:active {
  background: #b50000;
}
